<h1>Atualizar Espécie</h1>

<div>
    <form (ngSubmit)="save()">

        <label>Nome científico:
            <input #nomeCliente [(ngModel)]="cliente.nome" name="nome" />
        </label><br>

        <label>localidade:
            <input #emailCliente [(ngModel)]="cliente.email" name="email" />
        </label><br>

        <label>numero de exemplares:
            <input #cpfCliente [(ngModel)]="cliente.cpf" name="cpf" />
        </label><br>
        <button type="submit">Salvar</button>
    </form>
</div>